#main-content {
    background-color: #eee;
}

.vh-100-custom {
    min-height: 100vh;
}

.box {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#food-box {
    /* background-image: url('/img/food-type/food.jpg');
    background-size: cover; */
}

#drink-box {
    /* background-image: url('/img/food-type/drink.jpg');
    background-size: cover; */
}

.bg-grey-custom {
    background-color: #eee;
}

.side-content {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.icon {
    width: 50px;
}

.icon-sm {
    width: 25px;
}

.rounded-search{
    border-radius: 15px;
}

.w-90 {
    width: 90%;
}

.logo {
    width: 250px;
}